**/__pycache__/
requirements.txt
shares/
build/
dist/

__pycache__/shamir.cpython-39.pyc
__pycache__/word_coding.cpython-39.pyc
tests/__pycache__/__init__.cpython-39.pyc
tests/__pycache__/test_hi.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_shamir.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_word_coding.cpython-39-pytest-6.2.4.pyc
tests/__pycache__/test_wordcoding.cpython-39-pytest-6.2.4.pyc
.vscode/settings.json
modules/__pycache__/shamir.cpython-39.pyc
modules/__pycache__/word_coding.cpython-39.pyc
modules/__pycache__/shamir.cpython-39.pyc
modules/__pycache__/word_coding.cpython-39.pyc
secret_reconstructed.txt
shares/share_1.json
shares/share_2.json
shares/share_3.json
shares/share_4.json
shares/share_5.json
shares/share_6.json
shares/share_7.json
shares/share_8.json
shares/share_9.json
shares/reconstruction_data.json