[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
galois = "*"

[dev-packages]
pyinstaller = "*"
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}
pefile = {version = "*", sys_platform = "== 'win32'"}
pytest = "*"

[requires]
python_version = "3.9"
