[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
galois = "*"

[dev-packages]
pyinstaller = "*"
pywin32-ctypes = "*"
pefile = "*"

[requires]
python_version = "3.9"
